:host {
  display: block;
  min-height: 100vh;
}

:host input[type=number]::-webkit-inner-spin-button,
:host input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host input[type=number] {
  -moz-appearance: textfield;
}
